[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/hyperdrive"]
	path = lib/hyperdrive
	url = https://github.com/delvtech/hyperdrive
[submodule "lib/yearn-vaults-v3"]
	path = lib/yearn-vaults-v3
	url = https://github.com/yearn/yearn-vaults-v3
  branch = v3.0.4
[submodule "lib/tokenized-strategy"]
	path = lib/tokenized-strategy
	url = https://github.com/yearn/tokenized-strategy
  branch = v3.0.4
[submodule "lib/vault-periphery"]
	path = lib/vault-periphery
	url = https://github.com/yearn/vault-periphery
