name: coverage

on:
  pull_request:
  merge_group:

jobs:
  lcov:
    name: lcov
    runs-on: ubuntu-latest
    env:
      MAINNET_RPC_URL: ${{ secrets.MAINNET_RPC_URL }}
      SEPOLIA_RPC_URL: ${{ secrets.SEPOLIA_RPC_URL }}
      GNOSIS_CHAIN_RPC_URL: ${{ secrets.GNOSIS_CHAIN_RPC_URL }}
      LINEA_RPC_URL: ${{ secrets.LINEA_RPC_URL }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
          cache: false

      - name: forge version
        run: forge --version

      - name: Run coverage
        run: |
          make coverage
          sudo apt-get install lcov
          lcov --remove lcov.info  -o lcov.info 'test/*'

      - name: Edit lcov.info
        run: |
          cat lcov.info | sed '/.*\/test\/.*/,/TN:/d' > tmp.info && mv tmp.info lcov.info

      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          path-to-lcov: "./lcov.info"
          parallel: true

  finish:
    needs: lcov
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true
